<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <!--======= Volver ========-->
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
      <ion-menu-button *ngIf="showMenu"  menu="menu-content" class="menu-button">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-menu-button>
            <!--======= Cerrar Modal ========-->

            <ion-button (click)="dismissModal()" *ngIf="isModal">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
    </ion-buttons>
    <ion-title>
      <strong *ngIf="!showSearch" class="title">{{ title }}</strong>
      <div class="Admin" *ngIf="!showSearch">
        A G R O E C O L O G I A 
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
