<app-header [showMenu]="true" title="COMENTARIOS"></app-header>
<ion-content [fullscreen]="true" class="comment-content">
  <div class="comment-message">
    <ion-card class="comment-card">
      <ion-card-header>
        <ion-card-subtitle class="comment-subtitle">¡Déjanos saber tu opinión!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="comment-text">
        Comparte tus pensamientos, ideas y sugerencias en la sección de comentarios. ¡Queremos escucharte!
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list *ngIf="comments" class="comment-list">
    <ion-card *ngFor="let comment of comments" class="comment-card">
      <ion-card-header>
        <ion-card-subtitle class="comment-subtitle">{{ comment.user }}</ion-card-subtitle>
        <ion-card-title class="comment-date">{{ comment.date.toDate() | date:'medium' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row *ngIf="comment.attachments && comment.attachments.length > 0" class="comment-attachments">
          <ion-col *ngFor="let attachment of comment.attachments" size="6">
            <img [src]="attachment" alt="Attachment" class="comment-attachment">
          </ion-col>
        </ion-row>
        <ion-textarea [(ngModel)]="comment.text" [disabled]="!canEdit(comment) || editingComment !== comment" class="comment-textarea"></ion-textarea>
      </ion-card-content>
      <!-- Iconos de editar y eliminar -->
      <ion-row>
        <ion-col class="icon-col">
          <ion-icon name="trash" class="icon trash" *ngIf="canEdit(comment)" (click)="deleteComment(comment.cid)"></ion-icon>
          <ion-icon name="create" class="icon create" *ngIf="canEdit(comment) && editingComment !== comment" (click)="startEditing(comment)"></ion-icon>
          <ion-icon name="save" class="icon save" *ngIf="canEdit(comment) && editingComment === comment" (click)="saveComment()"></ion-icon>
          <ion-icon name="close" class="icon close" *ngIf="canEdit(comment) && editingComment === comment" (click)="cancelEditing()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-item class="comment-input">
    <ion-label position="floating">Comentario</ion-label>
    <ion-textarea [(ngModel)]="text" class="comment-textarea"></ion-textarea>
  </ion-item>
  <ion-item class="comment-input">
    <ion-label position="floating">Adjuntar archivo (URL)</ion-label>
    <ion-input type="url" [(ngModel)]="attachmentUrl"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="addComment()" class="comment-button">Comentar</ion-button>
</ion-content>
