<app-header [showMenu]="true" title="INICIO"></app-header>

<ion-content [fullscreen]="true">
  <!-- Aquí puedes colocar el contenido directamente sin necesidad de otra etiqueta ion-content -->
  <div class="container">
    <!-- Mensaje de bienvenida -->
    
<div class="welcome-message">
  <p>¡Bienvenido a nuestra aplicación para la asociación de cultivos de ciclos cortos!</p>
</div>


    <!-- Carrusel de imágenes -->
    <swiper-container 
      #swiper
      (afterinit)="swiperReady()"
      (slidechange)="swiperSlideChanged($event)" 
      [loop]="true" [pagination]="true"
      [pagination]="true"
      [autoplay]="true"
      [speed]="2000" 


    >
      <swiper-slide *ngFor="let image of images">
        <div class="swiper-zoom-container">
          <img [src]="image" />
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="button-container">
      <!-- Botón de Instagram -->
      <ion-button expand="slot" href="https://www.instagram.com/uluterana/" target="_blank" class="social-button instagram-button">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    
      <!-- Botón de Facebook -->
      <ion-button expand="slot" href="https://www.facebook.com/ULuterana" target="_blank" class="social-button facebook-button">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    
      <!-- Botón de YouTube -->
      <ion-button expand="slot" href="https://www.youtube.com/@uls1991" target="_blank" class="social-button youtube-button">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-button>
    
      <!-- Botón de la página web -->
      <ion-button expand="slot" href="https://uls.edu.sv/sitioweb/" target="_blank" class="social-button website-button">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
    </div>
        

    <!-- Encabezado colapsable -->
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">home</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  
</ion-content>
