ion-card {
    gap: 20px; /* Espacio entre elementos dentro de la tarjeta */
    padding: 20px; /* Espacio interno de la tarjeta */
    border-radius: 10px;
  }
  
  card-content {
    margin-top: 20px; /* Margen superior para separar el contenido de la tarjeta */
  }
  
  ion-content {
    --padding-bottom: 70px;
  }

  ion-card-content {
    text-align: justify;
  }

  .family-image {
    display: block;
    margin: 0 auto; /* Esto centra la imagen horizontalmente */
    width: 300px; /* Define el ancho deseado */
    height: 200px; /* Define la altura deseada */
    object-fit: cover; /* Esto asegura que la imagen se ajuste al tamaño definido sin distorsionarla */
  }
  
  


  