.card-title {
    font-size: 14px; /* Tamaño de fuente más pequeño */
  }

.card-image {
    width: 100%; /* Establece el ancho al 100% para que se ajuste al contenedor */
    height: auto; /* Establece la altura automática para mantener la proporción de aspecto */
    max-height: 150px; /* Establece la altura máxima de la imagen */
  }
  